/* -------------------------------------------------------------------------- */
/*                                 reset style                                */
/* -------------------------------------------------------------------------- */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* 10px */
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

ul,
li {
    list-style-type: none;
}

/* -------------------------------------------------------------------------- */
/*                                 root style                                 */
/* -------------------------------------------------------------------------- */
:root {
    --primery-color: #FF4700;
    --secondry-color: #fff;
    --black: #000;
    --yellow: #FFAC37;

    /* -------------------------------------------------------------------------- */
    /*                                    font                                    */
    /* -------------------------------------------------------------------------- */

    --title: 'JollyLodger';
    --extrabold: 'inter-extrabold';
    --bold: 'inter-bold';
    --semibold: 'inter-semibold';
    --medium: 'inter-medium';
    --regular: 'inter-regular';

}

/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: 'JollyLodger';
    src: url('/font/JollyLodger-Regular.ttf');
}

@font-face {
    font-family: 'inter-extrabold';
    src: url('/font/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'inter-bold';
    src: url('/font/Inter-Bold.ttf');
}

@font-face {
    font-family: 'inter-semibold';
    src: url('/font/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'inter-medium';
    src: url('/font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'inter-regular';
    src: url('/font/Inter-Regular.ttf');
}


/* -------------------------------------------------------------------------- */
/*                                  component                                 */
/* -------------------------------------------------------------------------- */


.section-btn h2 {
    font-family: var(--extrabold);
    font-size: 4rem;
    background-color: white;
    width: 30rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem 3rem;
    mix-blend-mode: lighten;
    cursor: pointer;
}

.section-btn h2::selection {
    background-color: transparent;
}

/* -------------------------------------------------------------------------- */
/*                             section title style                            */
/* -------------------------------------------------------------------------- */


.section-title {
    padding: 10rem 0 3rem;
    margin-bottom: 10rem;
    position: relative;
}

.section-title__text {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-family: var(--regular);
}

.section-title__text::before {
    content: "";
    position: absolute;
    width: 7%;
    height: .5rem;
    border-radius: 100rem;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                helper class                                */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                  container                                 */
/* -------------------------------------------------------------------------- */
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                header style                                */
/* -------------------------------------------------------------------------- */
header {
    background: url(/imgs/image/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 101vh;
    position: relative;
}

.venom-img-box {
    position: absolute;
    width: 80vw;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.venom-img-box img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               app navigation                               */
/* -------------------------------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                  app menu                                  */
/* -------------------------------------------------------------------------- */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.menu__item-link {
    color: var(--secondry-color);
    font-family: var(--medium);
    font-size: 2rem;
}


.icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}


/* -------------------------------------------------------------------------- */
/*                            header wrapper style                            */
/* -------------------------------------------------------------------------- */
.header__wrapper {
    display: flex;
    justify-content: space-between;
}



/* -------------------------------------------------------------------------- */
/*                                header trands                               */
/* -------------------------------------------------------------------------- */
.trands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    margin-top: 60rem;
}

.trands__title {
    font-size: 1.9rem;
    word-spacing: 1rem;
    color: var(--secondry-color);
    font-family: var(--semibold);
}

.trands__imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
}

.trands__imgs img:nth-child(1),
.trands__imgs img:nth-child(2) {
    width: 11rem;
}

.trands__imgs img:nth-child(3) {
    cursor: pointer;
}

.trands__divider-line {
    background-color: var(--secondry-color);
    width: 100%;
    height: .2rem;
    border-radius: 10rem;
    position: relative;
}

.trands__divider-line::before {
    content: "";
    width: 30%;
    height: .7rem;
    background-color: var(--secondry-color);
    position: absolute;
    border-radius: 10rem;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                            header content style                            */
/* -------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content>div {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: end;
}

.content__title {
    color: var(--secondry-color);
    font-size: 20rem;
    font-family: var(--title);
    height: 20rem;
}

.content__text {
    color: var(--secondry-color);
    font-size: 2.5rem;
    text-align: right;
    font-family: var(--extrabold);
    letter-spacing: 2rem;
}

.content__icon-box {
    border: .5rem solid var(--secondry-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    align-self: end;
    cursor: pointer;
}




/* -------------------------------------------------------------------------- */
/*                                 main style                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             header logos style                             */
/* -------------------------------------------------------------------------- */

.header__logos {
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    position: relative;
    margin-top: -1rem;
}

/* -------------------------------------------------------------------------- */
/*                               women products                               */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*                                footer style                                */
/* -------------------------------------------------------------------------- */