/* -------------------------------------------------------------------------- */
/*                                 reset style                                */
/* -------------------------------------------------------------------------- */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: var(--regular);
    overflow-x: hidden;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* 10px */
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

/* -------------------------------------------------------------------------- */
/*                                 root style                                 */
/* -------------------------------------------------------------------------- */
:root {
    --primery-color: #FF4700;
    --secondry-color: #fff;
    --black: #000;
    --yellow: #FFAC37;

    /* -------------------------------------------------------------------------- */
    /*                                    font                                    */
    /* -------------------------------------------------------------------------- */

    --title: 'JollyLodger';
    --extrabold: 'inter-extrabold';
    --bold: 'inter-bold';
    --semibold: 'inter-semibold';
    --medium: 'inter-medium';
    --regular: 'inter-regular';

}

/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: 'JollyLodger';
    src: url('/font/JollyLodger-Regular.ttf');
}

@font-face {
    font-family: 'inter-extrabold';
    src: url('/font/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'inter-bold';
    src: url('/font/Inter-Bold.ttf');
}

@font-face {
    font-family: 'inter-semibold';
    src: url('/font/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'inter-medium';
    src: url('/font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'inter-regular';
    src: url('/font/Inter-Regular.ttf');
}


/* -------------------------------------------------------------------------- */
/*                                  component                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                              section btn style                             */
/* -------------------------------------------------------------------------- */


.section-btn {
    font-family: var(--extrabold);
    font-size: 4rem;
    background-color: white;
    width: 30rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem 3rem;
    mix-blend-mode: lighten;
    cursor: pointer;
}



/* -------------------------------------------------------------------------- */
/*                             section title style                            */
/* -------------------------------------------------------------------------- */


.section-title {
    padding: 10rem 0 3rem;
    margin-bottom: 10rem;
    position: relative;
}

.section-title__text {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.section-title__text::before {
    content: "";
    position: absolute;
    width: 7%;
    height: .5rem;
    border-radius: 100rem;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                            section circle style                            */
/* -------------------------------------------------------------------------- */

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 9rem;
    margin-top: 15rem;
    margin-bottom: 25rem;
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #777777;
    cursor: pointer;
}

.currecnt-circle {
    background-color: var(--black);
    transform: scale(1.7);
}

/* -------------------------------------------------------------------------- */
/*                                helper class                                */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                  container                                 */
/* -------------------------------------------------------------------------- */
.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 1.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                header style                                */
/* -------------------------------------------------------------------------- */
header {
    background: url(/imgs/image/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 101vh;
    position: relative;
}

.venom-img-box {
    position: absolute;
    width: 80vw;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.venom-img-box img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               app navigation                               */
/* -------------------------------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                  app menu                                  */
/* -------------------------------------------------------------------------- */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.menu__item-link {
    color: var(--secondry-color);
    font-family: var(--medium);
    font-size: 2rem;
}


.icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}


/* -------------------------------------------------------------------------- */
/*                            header wrapper style                            */
/* -------------------------------------------------------------------------- */
.header__wrapper {
    display: flex;
    justify-content: space-between;
}



/* -------------------------------------------------------------------------- */
/*                                header trands                               */
/* -------------------------------------------------------------------------- */
.trands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    margin-top: 60rem;
}

.trands__title {
    font-size: 1.9rem;
    word-spacing: 1rem;
    color: var(--secondry-color);
    font-family: var(--semibold);
}

.trands__imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
}

.trands__imgs img:nth-child(1),
.trands__imgs img:nth-child(2) {
    width: 11rem;
}

.trands__imgs img:nth-child(3) {
    cursor: pointer;
}

.trands__divider-line {
    background-color: var(--secondry-color);
    width: 100%;
    height: .2rem;
    border-radius: 10rem;
    position: relative;
}

.trands__divider-line::before {
    content: "";
    width: 30%;
    height: .7rem;
    background-color: var(--secondry-color);
    position: absolute;
    border-radius: 10rem;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                            header content style                            */
/* -------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content>div {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: end;
}

.content__title {
    color: var(--secondry-color);
    font-size: 20rem;
    font-family: var(--title);
    height: 20rem;
}

.content__text {
    color: var(--secondry-color);
    font-size: 2.5rem;
    text-align: right;
    font-family: var(--extrabold);
    letter-spacing: 2rem;
}

.content__icon-box {
    border: .5rem solid var(--secondry-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    align-self: end;
    cursor: pointer;
}




/* -------------------------------------------------------------------------- */
/*                                 main style                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             header logos style                             */
/* -------------------------------------------------------------------------- */

.header__logos {
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    position: relative;
    margin-top: -1rem;
}

/* -------------------------------------------------------------------------- */
/*                               products style                               */
/* -------------------------------------------------------------------------- */

.products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 41rem;
    flex-wrap: wrap;
}

.product__background {
    width: 40rem;
    height: 18rem;
    background-image: linear-gradient(60deg, var(--primery-color), #FF946A);
    border-radius: 2rem;
    position: relative;
}

.product-img__box img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
}

.product-img-shadow {
    transform: scale(1);
    top: -23rem;
    z-index: -2;
    opacity: 0.2;


}

.product__title,
.product__price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__title {
    margin: 4rem 0;
}

.product__title-text {
    font-size: 2.6rem;
}

.product__icon-box {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.product__price-text {
    font-size: 3rem;
}

.product__price-link {
    color: #777777;
    font-size: 2rem;
    font-family: var(--semibold);
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                                banner style                                */
/* -------------------------------------------------------------------------- */

.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left, #FFAA33, rgba(255, 170, 51, .30));
    height: 47rem;
}

.banner-wrapper--man {
    background-image: linear-gradient(to right, #FF9447, rgba(255, 166, 84, .30));

}

.banner__image-box {
    align-self: end;
    display: flex;
}

.banner__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 7rem;
}

.banner__content-text-box {
    text-align: center;
    color: var(--secondry-color);
    font-size: 6rem;
    font-family: var(--medium);
}

.banner__content-items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;

}

.banner__content-icon-box img {
    width: 150%;
}

/* -------------------------------------------------------------------------- */
/*                                comment style                               */
/* -------------------------------------------------------------------------- */

.comment {
    margin-bottom: 60rem;
}

.comment-box {
    background-color: var(--black);
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 7rem;
    border-radius: 7rem;
}

.comment-box__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 9rem;
}

.comment-box__content-title {
    font-size: 5rem;
    font-family: var(--semibold);
    color: var(--secondry-color);
}

.comment-box__text {
    color: var(--secondry-color);
    font-size: 3rem;
}

.comment-box__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}

.comment-box__nav-box span {
    color: var(--secondry-color);
    font-size: 1.7rem;
}

.comment-box__profile img {
    border-radius: 3rem;
}

.comment-box__profile {
    margin-right: 7rem;
}


/* -------------------------------------------------------------------------- */
/*                              collection style                              */
/* -------------------------------------------------------------------------- */

.collection {
    margin-bottom: 25rem;
}

.collection-wrapper {
    display: flex;
    justify-content: space-around;
}

.collection-profile {
    position: relative;
    width: 50%;
}

.collection-profile img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.collection-profile img:last-child {
    top: -30rem;
}

.collection-conetent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 4rem;
}

.collection-content__text {
    color: var(--black);
    font-size: 3.5rem;
    font-family: var(--medium);
    width: 63rem;
    margin-bottom: -2rem;
}

.collection-conetent:nth-child(2) {
    color: var(--black);
    font-size: 15rem;
    text-align: center;
    width: 70rem;
    line-height: 6.5rem;
    position: relative;
}

.collection-seprater::before {
    content: "";
    position: absolute;
    width: 20%;
    height: .5rem;
    border-radius: 100rem;
    background-color: var(--black);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.collection-conetent .section-btn {
    background-color: var(--black);
    color: var(--secondry-color);
}



/* -------------------------------------------------------------------------- */
/*                                footer style                                */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--yellow);
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0 5rem;
}

/* -------------------------------------------------------------------------- */
/*                            footer caption style                            */
/* -------------------------------------------------------------------------- */

.footer-caption {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: space-between;
    align-items: start;
}

.footer-caption__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.footer-caption-title-text {
    color: var(--secondry-color);
    font-size: 3.4rem;
    font-family: var(--extrabold);
}

.footer-caption__text {
    font-size: 2.3rem;
    color: var(--secondry-color);
    width: 50rem;
}

/* -------------------------------------------------------------------------- */
/*                               footer socials                               */
/* -------------------------------------------------------------------------- */

.footer-caption__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
}

/* -------------------------------------------------------------------------- */
/*                             footer quick links                             */
/* -------------------------------------------------------------------------- */

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}



.footer-title {
    color: var(--secondry-color);
    font-size: 2.7rem;
    font-family: var(--semibold);
    margin-bottom: 5rem;
}

.footer-links__item-link {
    
    font-size: 2rem;
    color: var(--secondry-color);
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 6rem;
    border: .3rem var(--secondry-color) solid;
    border-radius: 1rem;
    padding: .2rem .2rem .2rem 2rem;
}
input[type='email']{
    font-size: 2rem;
    color: var(--secondry-color);
    

}
input[type='email']::placeholder {
    color: var(--secondry-color);
    
    font-size: 1.8rem;
}
button[type='submit']{
    background-color: var(--secondry-color);
    border-radius: .4rem;
    width: 18rem;
    height: 100%;
    color: var(--yellow);
    font-size: 2rem;
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                            responsive app style                            */
/* -------------------------------------------------------------------------- */

@media (width < 1400px){
    
}
@media (width < 1200px){
    
}
@media (width < 992px){

}
@media (width < 768px){

}
@media (width < 576px){

}
@media (width < 360px){

}